<div class="fthread-page-wrapper">
    <div class="box-fthread" [ngClass]="finishLoading">
        <div class="box-text">
            <div class="text-title">{{fthread.name}}</div>
            <p class="text-thread">{{fthread.text}}</p>
            <p class="text-author">Criado por {{user.name}}</p>
        </div>

        <div class="interact-wrapper">
            <app-fthread-reaction [fthreadId]="fthreadId? fthreadId : 0"></app-fthread-reaction>
            <div class="comment-wrapper">
                <img class="img-comment" src="../../../../assets/png/icon-comment.png">
                <div class="comment-count">{{commentCount}}</div> 
            </div>
        </div>
    </div>
    
    <form class="form-reply" (submit)="sendReply()">
        
        <input type="textarea" class="text-reply" id="text-reply" placeholder="Digite sua resposta..." >

        <button class="btn-reply" type="submit">Enviar Resposta</button>
        
    </form>
    
    <div class="list-wrapper">
        @for (post of listaPosts; track $index) {
            <app-post [post]="post"></app-post>
        }
    </div>
</div>


