node_modules
node_modules
package-lock.json
package.json
README.md
server.ts
tsconfig.app.json
tsconfig.json
tsconfig.spec.json

.vscode/extensions.json
.vscode/launch.json
.vscode/tasks.json
src/assets/.gitkeep
.gitignore
.angular

