<header>
  <!-- Logo à esquerda -->
  <div class="logo">
      <img src="../../../assets/png/logoWhite.png" [routerLink]="['/']" alt="Logo" >
  </div>

  <!-- Barra de busca no centro -->
  
  <input class="search-bar" type="text" placeholder="Buscar...">
  

  <!-- Botão de usuário à direita -->
  <div class="user-btn" (click)="openModal(modalTemplate)">
      <img src="../../../assets/png/icon-user.png" alt="User">
  </div>
</header>

<!-- <app-modal #modal>
  @if(chosenDialog === "login"){
    <app-login-dialog (chosenDialog)="receiveChosenDialog($event)"></app-login-dialog>
  } @else {
    <app-signup-dialog (chosenDialog)="receiveChosenDialog($event)"></app-signup-dialog>
  }
  
</app-modal> -->

<ng-template #modalTemplate>
  TESTE 
  <app-login-dialog></app-login-dialog>
</ng-template>



