<div class="list-item" [routerLink]="['/fthread-page']" [queryParams]="{fthreadId: fthread.id}" [ngClass]="finishLoading">
        <div class="box-item">
                <div class="item-text">
                        <span class="text-title">{{fthread.name}}</span>
                        <span class="text-desc">{{fthread.text}}</span>
                        <span class="text-author">Enviado por: {{name}}</span>
                        @if(showForum){
                                <span class="list-item-title">Fórum: {{forum}}</span>
                        } 
                </div>

                <app-fthread-reaction [fthreadId]="id? id : 0" (scoreOutput)="receiveScore($event)"></app-fthread-reaction>   
        </div>
        
</div>
