.box-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item-score{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font: bold;
}
