<div class="box-like">

    <div class="box-reaction">
        <button class="likes">
            <img [ngClass]="classLikes" class="img" src="../../../../assets/png/icon-plus.png">
        </button>
        @if(score > 0){
            <div class="positive">
                +{{score}}
            </div>
        }
        @if(score === 0){
            <div class="item-score neutral">
                {{score}}
            </div> 
        }
        @if(score < 0){
            <div class="item-score negative">
                {{score}}
            </div> 
        } 
        <button class="dislikes">
            <img [ngClass]="classDislikes" class="img" src="../../../../assets/png/icon-minus.png">
        </button> 
    </div>

</div>
