<div class="box-like">

    <div class="box-reaction">
        <button [ngClass]="classLikes">
            <!-- <fa-icon class="icon-like" [icon]="faPlus" size="sm"></fa-icon>  -->
        </button>
        @if(score > 0){
            <div class="positive">
                +{{score}}
            </div>
        }
        @if(score === 0){
            <div class="item-score neutral">
                {{score}}
            </div> 
        }
        @if(score < 0){
            <div class="item-score negative">
                {{score}}
            </div> 
        }
        
        <button [ngClass]="classDislikes">
            <!-- <fa-icon class="icon-dislike" [icon]="faMinus" size="sm"></fa-icon> -->
        </button> 
    </div>
     

    
</div>
