.header-fthreads{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;

    border-bottom: 1px solid var(--border-black);
}

.section-title{
    border-bottom: none;
}