<div class="section-wrapper">
        <div class="header-fthreads">
            <div class="section-title">Threads</div>
            <a class="link-newthread" (click)="verifySession()">
                <p class="text-light no-decoration">Criar Thread</p>
            </a>
            
        </div>

        <div class="list-wrapper">
            @for(fthread of listaFThreads; track $index){
                <div class="item-wrapper">
                    <app-fthread [id]="fthread.id? fthread.id : -1"></app-fthread>

                </div>
            }

        </div>
</div>