.header-fthreads{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.line-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.section-title{
    border-bottom: none;
}

