<div class="section-wrapper" >
        <div class="header-fthreads">
            <div class="line-title">
                <div class="section-title">{{forum.name}}</div>
                <a class="link-newthread" (click)="verifySession()">
                    <p class="text-light no-decoration" (click)="verifySession()">Criar Thread</p>
                </a>
            </div>
            <div class="line-desc">
                {{forum.description}}
            </div>
        </div>

        <div class="list-wrapper">
            @for(fthread of listaFThreads; track $index){
                <div class="item-wrapper" [ngClass]="finishLoading">
                    <app-fthread [id]="fthread.id? fthread.id : -1"></app-fthread>
                </div>
            }

        </div>
</div>