.box-reaction{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-like{
    display:flex;
    flex-direction: column;
}

.positive{
    color: #ff5454;
}

.neutral{
    color: #c0b4bc;
}

.negative{
    color: #616bff;
}

.likes, .dislikes{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #c0b4bc;
    transition: linear 0.3s;
    border: 0px;
    padding: 0.4rem;
    background-color: transparent;

}

.likes:hover{
    color: #ff5454;
    transition: linear 0.3s;
    cursor: pointer;
    border-color: #ff5454;
}

.likes-selected{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #ff5454;
    cursor: pointer;
    transition: linear 0.3s;
    padding: 0.15rem;
    background-color: transparent;
}

.likes-selected:hover{
    color: #c0b4bc;
    transition: linear 0.3s;
    cursor: pointer;
    border-color: #c0b4bc;
}

.dislikes:hover{
    color:#616bff;
    transition: linear 0.3s;
    cursor: pointer;
}

.dislikes-selected{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #616bff;
    cursor: pointer;
    transition: linear 0.3s;
    border: 0px;
    padding: 0.15rem;
    background-color: transparent;
}

.dislikes-selected:hover{
    color:#c0b4bc;
    transition: linear 0.3s;
    cursor: pointer;
    border-color: #c0b4bc;
}