.box-reaction{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 0.05rem;
    border: 0.5px solid var(--border-black);
    border-radius: 30%;

    background-color: var(--bg-btn);
}

.img{
    background-color: transparent;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer
}

.img-like, .img-dislike{
    filter: grayscale(100%) invert(100%);
    transition: linear 0.2s;
}

.img-like:hover, .img-dislike:hover{
    filter: grayscale(0%) invert(0%);
    transition: linear 0.2s;
}

.img-likes-selected, .img-disliked-selected{
    filter: grayscale(0%) invert(0%);
    transition: linear 0.2s;
}

.img-likes-selected:hover, .img-disliked-selected:hover{
    filter: grayscale(100%) invert(100%);
    transition: linear 0.2s;
}

.box-like{
    display:flex;
    flex-direction: column;
}

.positive{
    background-color: transparent;
    color: #ff5454;
}

.neutral{
    background-color: transparent;
    color: #c0b4bc;
}

.negative{
    background-color: transparent;
    color: #616bff;
}

.likes, .dislikes{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #c0b4bc;
    transition: linear 0.3s;
    border: none;
    padding: 0.4rem;
    background-color: transparent;

}

