<div class="new-thread-wrapper">
  <form (ngSubmit)="onSubmit()" class="form-new-thread">
    
    <div class="title-wrapper">
      <input
        type="text"
        id="text-title"
        class="text-title"
        name="title"
        placeholder="Título"
        required
      />
    </div>

    <div class="content-wrapper">
      <textarea
        id="text-content"
        class="text-content"
        name="content"
        placeholder="Corpo"
        rows="6"
        required
      ></textarea>
    </div>

    <div class="form-group">
      <label>Imagens</label>
      <input
        type="file"
        class="form-control-file"
        (change)="onFileSelected($event)"
        accept="image/png, image/jpeg"
        multiple
      />

      @if(imagePreviews.length > 0){
        <div class="form-group">
          <label>Imagens Selecionadas:</label>
          <div class="image-preview-container">
            @for(image of imagePreviews; track image){
              <img [src]="image" class="image-preview" />
            }
            
          </div>
        </div>
      }

    </div>
    
    <button type="submit" class="btn-submit">Publicar Thread</button>
  </form>
</div>

