.new-thread-wrapper{
    display: flex;
    justify-content: center;
}

.form-new-thread {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    align-self: center;
    width:80%;
}

.form-new-thread .title-wrapper{
    width: 100%;

}

.form-new-thread input{
    width: 100%;
    background-color: transparent;
    border: 0.5px solid var(--border-black);
    border-radius: 25px;
    height: 32px;
}

.form-new-thread .content-wrapper{
    width: 100%;

}

.form-new-thread textarea{
    width: 100%;
    background-color: transparent;
    border: 0.5px solid var(--border-black);
    border-radius: 25px;

    padding: 10px;

    resize: vertical;
}

.imgs-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.imgs-wrapper .img-title{
    font-size: 24px;
}

.imgs-wrapper .input-img{
    display: none
}

.imgs-preview-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 8px;
}

.imgs-preview-wrapper .img-preview{
    width: 128px;
    height: 128px;
    border: 0.5px solid var(--border-black);
    border-radius: 25px;
}

.imgs-preview-wrapper .btn-add-img{
    border: none;

    border: 2px solid var(--border-black);
    border-radius: 25px;
    height: 128px;
    width: 128px;

    cursor: pointer;

    font-size: 32px;
}

.imgs-preview-wrapper .btn-add-img:hover{
    background-color: grayscale(50%)
}

.btn-submit{
    align-self: flex-end;

    border: 0.5px solid var(--border-black);
    border-radius: 25px;
    height: 48px;

    font-size: 16px;
}