<div class="new-thread-wrapper">
  <form [formGroup]="formNewThread" (ngSubmit)="onSubmit()" class="form-new-thread">
    
    <div class="title-wrapper">
      <input
        type="text"
        id="text-title"
        class="text-title"
        name="title"
        placeholder="Título"
        formControlName="title"
        required
      />
    </div>

    <div class="content-wrapper">
      <textarea
        id="text-content"
        class="text-content"
        name="content"
        placeholder="Corpo"
        rows="6"
        formControlName="text"
        required
      ></textarea>
    </div>

    <div class="imgs-wrapper">
      <div class="img-title">Imagens</div>
      <input
        id="input-img"
        type="file"
        class="input-img"
        (change)="onFileSelected($event)"
        accept="image/png, image/jpeg"
        multiple
        #imgInput
      />

      <div class="imgs-preview-wrapper">
        @if(imagePreviews.length > 0){
          <div class="img-preview-wrapper">
            <div class="image-preview-container">
              @for(image of imagePreviews; track image){
                <img [src]="image" class="img-preview"  />

              }
              
            </div>
          </div>
        }

        <button type="button" class="btn-add-img btn-primary" (click)="imgInput.click()">+</button>
      </div>
      
      
    </div>
    
    <button type="submit" class="btn-submit btn-primary" >Publicar Thread</button>
  </form>
</div>

